# Introduction

## 1. Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 2. Import Dataset

In [3]:
df=pd.read_csv('E:/Python Projects/shohreh/Shohreh_GitHub_Repository/Darsman_Exercises/term 5/3 - Air pollution/Air_pollution_ dataset.csv', delimiter=';')
df.head(2)

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
0,10/03/2004,18.00.00,"2,6",1360.0,150.0,"11,9",1046.0,166.0,1056.0,113.0,1692.0,1268.0,"13,6","48,9","0,7578",NaN,NaN
1,10/03/2004,19.00.00,2,1292.0,112.0,"9,4",955.0,103.0,1174.0,92.0,1559.0,972.0,"13,3","47,7","0,7255",NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9471 entries, 0 to 9470
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   object
 1   Time           9357 non-null   object
 2   CO(GT)         9357 non-null   object
 3   PT08.S1(CO)    9357 non-null   float64
 4   NMHC(GT)       9357 non-null   float64
 5   C6H6(GT)       9357 non-null   object
 6   PT08.S2(NMHC)  9357 non-null   float64
 7   NOx(GT)        9357 non-null   float64
 8   PT08.S3(NOx)   9357 non-null   float64
 9   NO2(GT)        9357 non-null   float64
 10  PT08.S4(NO2)   9357 non-null   float64
 11  PT08.S5(O3)    9357 non-null   float64
 12  T              9357 non-null   object
 13  RH             9357 non-null   object
 14  AH             9357 non-null   object
 15  Unnamed: 15    0 non-null      float64
 16  Unnamed: 16    0 non-null      float64
dtypes: float64(10), object(7)
memory usage: 1.2+ MB

## 3. Air Pollution Dataset Overview

### General Information
- **File Name**: `Air_pollution_dataset.csv`
- **File Format**: CSV (Comma-Separated Values)
- **Delimiter**: Semicolon (`;`)
- **Number of Row470: 9357
- **Number of Colum7s**#: 16

## Columns Description
1. **Date**: The date of the recorded data (format: `DD/MM/YYYY`).
2. **Time**: The time of the recorded data (format: `HH.MM.SS`).
3. **CO(GT)**: Carbon monoxide concentration (mg/m³).
4. **PT08.S1(CO)**: Tin oxide sensor response for CO (non-standardized).
5. **NMHC(GT)**: Non-methane hydrocarbons concentration (µg/m³).
6. **C6H6(GT)**: Benzene concentration (µg/m³).
7. **PT08.S2(NMHC)**: Titania sensor response for NMHC (non-standardized).
8. **NOx(GT)**: Nitrogen oxides concentration (µg/m³).
9. **PT08.S3(NOx)**: Tungsten oxide sensor response for NOx (non-standardized).
10. **NO2(GT)**: Nitrogen dioxide concentration (µg/m³).
11. **PT08.S4(NO2)**: Tungsten oxide sensor response for NO2 (non-standardized).
12. **PT08.S5(O3)**: Indium oxide sensor response for O3 (non-standardized).
13. **T**: Temperature (°C).
14. **RH**: Relative humidity (%).
15. **AH**: Absolute humidity (g/m³)Two
16. **Empty sColumn**: An emp#ty column with no data.

## Data Characteristics
- The dataset contains hourly measurements of various air pollutants and environmental conditions.
- Some entries contain missing or invalid data, represented by `-200`.
- The dataset spans multiple days, with g #  | 13.3 | 47.7 | 0.7255 |              |

## Notes
- Ensure to handle missing or invalid data (`-200`)ropriately during analysis.
- The dataset may require putation) before use in machine learning models.